Package: com.jjgadgets.uniblurmod
Name: Universal Blur Modifier
Depends: mobilesubstrate
Version: 0.0b1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: JJGadgets
Author: JJGadgets
Section: Tweaks
