<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Main Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jjgadgets.uniblurmod</string>
			<key>key</key>
			<string>enable</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.jjgadgets.uniblurmod.plist/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SB Blur Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defualts></key>
			<string>com.jjgadgets.uniblurmod</string>
			<key>key</key>
			<string>SBBlur</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>0</real>
			<key>default</key>
			<real>8</real>
			<key>PostNotification</key>
			<string>com.jjgadgets.uniblurmod.plist/preferences.changed</string>
			<key>showValue</key>
			<true/>
		</dict>
	</array>
	<key>title</key>
	<string>Universal Blur Modifier</string>
</dict>
</plist>
